@font-face {
	font-family: "icons";
	src: url("icons.ttf?c3caccff629e27cfba61f76dc655e6ce") format("truetype"),
url("icons.eot?c3caccff629e27cfba61f76dc655e6ce?#iefix") format("embedded-opentype"),
url("icons.woff?c3caccff629e27cfba61f76dc655e6ce") format("woff"),
url("icons.woff2?c3caccff629e27cfba61f76dc655e6ce") format("woff2"),
url("icons.svg?c3caccff629e27cfba61f76dc655e6ce#icons") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-add:before {
	content: "\f101";
}
.icon-alert:before {
	content: "\f102";
}
.icon-arrow-down:before {
	content: "\f103";
}
.icon-arrow-left:before {
	content: "\f104";
}
.icon-arrow-right:before {
	content: "\f105";
}
.icon-arrow-up-down:before {
	content: "\f106";
}
.icon-arrow-up:before {
	content: "\f107";
}
.icon-calendar:before {
	content: "\f108";
}
.icon-cancel-small:before {
	content: "\f109";
}
.icon-cancel:before {
	content: "\f10a";
}
.icon-caret-down:before {
	content: "\f10b";
}
.icon-caret-up:before {
	content: "\f10c";
}
.icon-checkmark:before {
	content: "\f10d";
}
.icon-chevron-down:before {
	content: "\f10e";
}
.icon-chevron-left:before {
	content: "\f10f";
}
.icon-chevron-right:before {
	content: "\f110";
}
.icon-chevron-up:before {
	content: "\f111";
}
.icon-circle-cancel:before {
	content: "\f112";
}
.icon-circle-chevron-down:before {
	content: "\f113";
}
.icon-circle-chevron-left:before {
	content: "\f114";
}
.icon-circle-chevron-right:before {
	content: "\f115";
}
.icon-circle-chevron-up:before {
	content: "\f116";
}
.icon-circle-plus:before {
	content: "\f117";
}
.icon-conversation:before {
	content: "\f118";
}
.icon-delete:before {
	content: "\f119";
}
.icon-disable:before {
	content: "\f11a";
}
.icon-dispute:before {
	content: "\f11b";
}
.icon-duplicate:before {
	content: "\f11c";
}
.icon-embed:before {
	content: "\f11d";
}
.icon-export:before {
	content: "\f11e";
}
.icon-external:before {
	content: "\f11f";
}
.icon-help:before {
	content: "\f120";
}
.icon-horizontal-dots:before {
	content: "\f121";
}
.icon-import:before {
	content: "\f122";
}
.icon-responsive:before {
	content: "\f123";
}
.icon-search:before {
	content: "\f124";
}
.icon-settings-general:before {
	content: "\f125";
}
.icon-shape-diamond:before {
	content: "\f126";
}
.icon-shape-rhombus:before {
	content: "\f127";
}
.icon-shape-star:before {
	content: "\f128";
}
.icon-shape-triangle-right-angled:before {
	content: "\f129";
}
.icon-shape-triangle:before {
	content: "\f12a";
}
.icon-share-closed:before {
	content: "\f12b";
}
.icon-share-opened:before {
	content: "\f12c";
}
.icon-sitemap:before {
	content: "\f12d";
}
.icon-sound-mute:before {
	content: "\f12e";
}
.icon-sound-unmute:before {
	content: "\f12f";
}
.icon-status-approved:before {
	content: "\f130";
}
.icon-status-paused:before {
	content: "\f131";
}
.icon-status-progress:before {
	content: "\f132";
}
.icon-status-rejected:before {
	content: "\f133";
}
.icon-status-waiting:before {
	content: "\f134";
}
.icon-thunder:before {
	content: "\f135";
}
.icon-ticker:before {
	content: "\f136";
}
.icon-tooltip-bottom:before {
	content: "\f137";
}
.icon-tooltip-left:before {
	content: "\f138";
}
.icon-tooltip-right:before {
	content: "\f139";
}
.icon-tooltip-top:before {
	content: "\f13a";
}
.icon-trash:before {
	content: "\f13b";
}
.icon-typography-blockquote-not-in-set:before {
	content: "\f13c";
}
.icon-typography-bold:before {
	content: "\f13d";
}
.icon-typography-capitalize:before {
	content: "\f13e";
}
.icon-typography-custom-font:before {
	content: "\f13f";
}
.icon-typography-font-size:before {
	content: "\f140";
}
.icon-typography-header:before {
	content: "\f141";
}
.icon-typography-italic:before {
	content: "\f142";
}
.icon-typography-letter-spacing:before {
	content: "\f143";
}
.icon-typography-line-height:before {
	content: "\f144";
}
.icon-typography-lowercase:before {
	content: "\f145";
}
.icon-typography-small-caps:before {
	content: "\f146";
}
.icon-typography-strike:before {
	content: "\f147";
}
.icon-typography-underline:before {
	content: "\f148";
}
.icon-typography-uppercase:before {
	content: "\f149";
}
.icon-usability-testing:before {
	content: "\f14a";
}
.icon-user-add:before {
	content: "\f14b";
}
.icon-user-simple:before {
	content: "\f14c";
}
.icon-visibility-hidden-outline:before {
	content: "\f14d";
}
.icon-visibility-visible-outline:before {
	content: "\f14e";
}
.icon-visibility-visible-solid:before {
	content: "\f14f";
}
