$shape-star-x: 0;
$shape-star-y: 0;
$shape-star-width: 200px;
$shape-star-height: 200px;
$shape-star: $shape-star-x $shape-star-y $shape-star-width $shape-star-height;
$add-x: -200px;
$add-y: 0;
$add-width: 200px;
$add-height: 200px;
$add: $add-x $add-y $add-width $add-height;
$arrow-down-x: 0;
$arrow-down-y: -200px;
$arrow-down-width: 200px;
$arrow-down-height: 200px;
$arrow-down: $arrow-down-x $arrow-down-y $arrow-down-width $arrow-down-height;
$arrow-left-x: -200px;
$arrow-left-y: -200px;
$arrow-left-width: 200px;
$arrow-left-height: 200px;
$arrow-left: $arrow-left-x $arrow-left-y $arrow-left-width $arrow-left-height;
$arrow-right-x: -400px;
$arrow-right-y: 0;
$arrow-right-width: 200px;
$arrow-right-height: 200px;
$arrow-right: $arrow-right-x $arrow-right-y $arrow-right-width $arrow-right-height;
$arrow-up-down-x: -400px;
$arrow-up-down-y: -200px;
$arrow-up-down-width: 200px;
$arrow-up-down-height: 200px;
$arrow-up-down: $arrow-up-down-x $arrow-up-down-y $arrow-up-down-width $arrow-up-down-height;
$arrow-up-x: 0;
$arrow-up-y: -400px;
$arrow-up-width: 200px;
$arrow-up-height: 200px;
$arrow-up: $arrow-up-x $arrow-up-y $arrow-up-width $arrow-up-height;
$calendar-x: -200px;
$calendar-y: -400px;
$calendar-width: 200px;
$calendar-height: 200px;
$calendar: $calendar-x $calendar-y $calendar-width $calendar-height;
$cancel-small-x: -400px;
$cancel-small-y: -400px;
$cancel-small-width: 200px;
$cancel-small-height: 200px;
$cancel-small: $cancel-small-x $cancel-small-y $cancel-small-width $cancel-small-height;
$cancel-x: -600px;
$cancel-y: 0;
$cancel-width: 200px;
$cancel-height: 200px;
$cancel: $cancel-x $cancel-y $cancel-width $cancel-height;
$caret-down-x: -600px;
$caret-down-y: -200px;
$caret-down-width: 200px;
$caret-down-height: 200px;
$caret-down: $caret-down-x $caret-down-y $caret-down-width $caret-down-height;
$caret-up-x: -600px;
$caret-up-y: -400px;
$caret-up-width: 200px;
$caret-up-height: 200px;
$caret-up: $caret-up-x $caret-up-y $caret-up-width $caret-up-height;
$checkmark-x: 0;
$checkmark-y: -600px;
$checkmark-width: 200px;
$checkmark-height: 200px;
$checkmark: $checkmark-x $checkmark-y $checkmark-width $checkmark-height;
$chevron-down-x: -200px;
$chevron-down-y: -600px;
$chevron-down-width: 200px;
$chevron-down-height: 200px;
$chevron-down: $chevron-down-x $chevron-down-y $chevron-down-width $chevron-down-height;
$chevron-left-x: -400px;
$chevron-left-y: -600px;
$chevron-left-width: 200px;
$chevron-left-height: 200px;
$chevron-left: $chevron-left-x $chevron-left-y $chevron-left-width $chevron-left-height;
$chevron-right-x: -600px;
$chevron-right-y: -600px;
$chevron-right-width: 200px;
$chevron-right-height: 200px;
$chevron-right: $chevron-right-x $chevron-right-y $chevron-right-width $chevron-right-height;
$chevron-up-x: -800px;
$chevron-up-y: 0;
$chevron-up-width: 200px;
$chevron-up-height: 200px;
$chevron-up: $chevron-up-x $chevron-up-y $chevron-up-width $chevron-up-height;
$circle-cancel-x: -800px;
$circle-cancel-y: -200px;
$circle-cancel-width: 200px;
$circle-cancel-height: 200px;
$circle-cancel: $circle-cancel-x $circle-cancel-y $circle-cancel-width $circle-cancel-height;
$circle-chevron-down-x: -800px;
$circle-chevron-down-y: -400px;
$circle-chevron-down-width: 200px;
$circle-chevron-down-height: 200px;
$circle-chevron-down: $circle-chevron-down-x $circle-chevron-down-y $circle-chevron-down-width $circle-chevron-down-height;
$circle-chevron-left-x: -800px;
$circle-chevron-left-y: -600px;
$circle-chevron-left-width: 200px;
$circle-chevron-left-height: 200px;
$circle-chevron-left: $circle-chevron-left-x $circle-chevron-left-y $circle-chevron-left-width $circle-chevron-left-height;
$circle-chevron-right-x: 0;
$circle-chevron-right-y: -800px;
$circle-chevron-right-width: 200px;
$circle-chevron-right-height: 200px;
$circle-chevron-right: $circle-chevron-right-x $circle-chevron-right-y $circle-chevron-right-width $circle-chevron-right-height;
$circle-chevron-up-x: -200px;
$circle-chevron-up-y: -800px;
$circle-chevron-up-width: 200px;
$circle-chevron-up-height: 200px;
$circle-chevron-up: $circle-chevron-up-x $circle-chevron-up-y $circle-chevron-up-width $circle-chevron-up-height;
$circle-plus-x: -400px;
$circle-plus-y: -800px;
$circle-plus-width: 200px;
$circle-plus-height: 200px;
$circle-plus: $circle-plus-x $circle-plus-y $circle-plus-width $circle-plus-height;
$conversation-x: -600px;
$conversation-y: -800px;
$conversation-width: 200px;
$conversation-height: 200px;
$conversation: $conversation-x $conversation-y $conversation-width $conversation-height;
$delete-x: -800px;
$delete-y: -800px;
$delete-width: 200px;
$delete-height: 200px;
$delete: $delete-x $delete-y $delete-width $delete-height;
$disable-x: -1000px;
$disable-y: 0;
$disable-width: 200px;
$disable-height: 200px;
$disable: $disable-x $disable-y $disable-width $disable-height;
$dispute-x: -1000px;
$dispute-y: -200px;
$dispute-width: 200px;
$dispute-height: 200px;
$dispute: $dispute-x $dispute-y $dispute-width $dispute-height;
$duplicate-x: -1000px;
$duplicate-y: -400px;
$duplicate-width: 200px;
$duplicate-height: 200px;
$duplicate: $duplicate-x $duplicate-y $duplicate-width $duplicate-height;
$embed-x: -1000px;
$embed-y: -600px;
$embed-width: 200px;
$embed-height: 200px;
$embed: $embed-x $embed-y $embed-width $embed-height;
$export-x: -1000px;
$export-y: -800px;
$export-width: 200px;
$export-height: 200px;
$export: $export-x $export-y $export-width $export-height;
$external-x: 0;
$external-y: -1000px;
$external-width: 200px;
$external-height: 200px;
$external: $external-x $external-y $external-width $external-height;
$help-x: -200px;
$help-y: -1000px;
$help-width: 200px;
$help-height: 200px;
$help: $help-x $help-y $help-width $help-height;
$horizontal-dots-x: -400px;
$horizontal-dots-y: -1000px;
$horizontal-dots-width: 200px;
$horizontal-dots-height: 200px;
$horizontal-dots: $horizontal-dots-x $horizontal-dots-y $horizontal-dots-width $horizontal-dots-height;
$import-x: -600px;
$import-y: -1000px;
$import-width: 200px;
$import-height: 200px;
$import: $import-x $import-y $import-width $import-height;
$responsive-x: -800px;
$responsive-y: -1000px;
$responsive-width: 200px;
$responsive-height: 200px;
$responsive: $responsive-x $responsive-y $responsive-width $responsive-height;
$search-x: -1000px;
$search-y: -1000px;
$search-width: 200px;
$search-height: 200px;
$search: $search-x $search-y $search-width $search-height;
$settings-general-x: -1200px;
$settings-general-y: 0;
$settings-general-width: 200px;
$settings-general-height: 200px;
$settings-general: $settings-general-x $settings-general-y $settings-general-width $settings-general-height;
$shape-diamond-x: -1200px;
$shape-diamond-y: -200px;
$shape-diamond-width: 200px;
$shape-diamond-height: 200px;
$shape-diamond: $shape-diamond-x $shape-diamond-y $shape-diamond-width $shape-diamond-height;
$shape-rhombus-x: -1200px;
$shape-rhombus-y: -400px;
$shape-rhombus-width: 200px;
$shape-rhombus-height: 200px;
$shape-rhombus: $shape-rhombus-x $shape-rhombus-y $shape-rhombus-width $shape-rhombus-height;
$alert-x: -1200px;
$alert-y: -600px;
$alert-width: 200px;
$alert-height: 200px;
$alert: $alert-x $alert-y $alert-width $alert-height;
$shape-triangle-right-angled-x: -1200px;
$shape-triangle-right-angled-y: -800px;
$shape-triangle-right-angled-width: 200px;
$shape-triangle-right-angled-height: 200px;
$shape-triangle-right-angled: $shape-triangle-right-angled-x $shape-triangle-right-angled-y $shape-triangle-right-angled-width $shape-triangle-right-angled-height;
$shape-triangle-x: -1200px;
$shape-triangle-y: -1000px;
$shape-triangle-width: 200px;
$shape-triangle-height: 200px;
$shape-triangle: $shape-triangle-x $shape-triangle-y $shape-triangle-width $shape-triangle-height;
$share-closed-x: 0;
$share-closed-y: -1200px;
$share-closed-width: 200px;
$share-closed-height: 200px;
$share-closed: $share-closed-x $share-closed-y $share-closed-width $share-closed-height;
$share-opened-x: -200px;
$share-opened-y: -1200px;
$share-opened-width: 200px;
$share-opened-height: 200px;
$share-opened: $share-opened-x $share-opened-y $share-opened-width $share-opened-height;
$sitemap-x: -400px;
$sitemap-y: -1200px;
$sitemap-width: 200px;
$sitemap-height: 200px;
$sitemap: $sitemap-x $sitemap-y $sitemap-width $sitemap-height;
$sound-mute-x: -600px;
$sound-mute-y: -1200px;
$sound-mute-width: 200px;
$sound-mute-height: 200px;
$sound-mute: $sound-mute-x $sound-mute-y $sound-mute-width $sound-mute-height;
$sound-unmute-x: -800px;
$sound-unmute-y: -1200px;
$sound-unmute-width: 200px;
$sound-unmute-height: 200px;
$sound-unmute: $sound-unmute-x $sound-unmute-y $sound-unmute-width $sound-unmute-height;
$status-approved-x: -1000px;
$status-approved-y: -1200px;
$status-approved-width: 200px;
$status-approved-height: 200px;
$status-approved: $status-approved-x $status-approved-y $status-approved-width $status-approved-height;
$status-paused-x: -1200px;
$status-paused-y: -1200px;
$status-paused-width: 200px;
$status-paused-height: 200px;
$status-paused: $status-paused-x $status-paused-y $status-paused-width $status-paused-height;
$status-progress-x: -1400px;
$status-progress-y: 0;
$status-progress-width: 200px;
$status-progress-height: 200px;
$status-progress: $status-progress-x $status-progress-y $status-progress-width $status-progress-height;
$status-rejected-x: -1400px;
$status-rejected-y: -200px;
$status-rejected-width: 200px;
$status-rejected-height: 200px;
$status-rejected: $status-rejected-x $status-rejected-y $status-rejected-width $status-rejected-height;
$status-waiting-x: -1400px;
$status-waiting-y: -400px;
$status-waiting-width: 200px;
$status-waiting-height: 200px;
$status-waiting: $status-waiting-x $status-waiting-y $status-waiting-width $status-waiting-height;
$thunder-x: -1400px;
$thunder-y: -600px;
$thunder-width: 200px;
$thunder-height: 200px;
$thunder: $thunder-x $thunder-y $thunder-width $thunder-height;
$ticker-x: -1400px;
$ticker-y: -800px;
$ticker-width: 200px;
$ticker-height: 200px;
$ticker: $ticker-x $ticker-y $ticker-width $ticker-height;
$tooltip-bottom-x: -1400px;
$tooltip-bottom-y: -1000px;
$tooltip-bottom-width: 200px;
$tooltip-bottom-height: 200px;
$tooltip-bottom: $tooltip-bottom-x $tooltip-bottom-y $tooltip-bottom-width $tooltip-bottom-height;
$tooltip-left-x: -1400px;
$tooltip-left-y: -1200px;
$tooltip-left-width: 200px;
$tooltip-left-height: 200px;
$tooltip-left: $tooltip-left-x $tooltip-left-y $tooltip-left-width $tooltip-left-height;
$tooltip-right-x: 0;
$tooltip-right-y: -1400px;
$tooltip-right-width: 200px;
$tooltip-right-height: 200px;
$tooltip-right: $tooltip-right-x $tooltip-right-y $tooltip-right-width $tooltip-right-height;
$tooltip-top-x: -200px;
$tooltip-top-y: -1400px;
$tooltip-top-width: 200px;
$tooltip-top-height: 200px;
$tooltip-top: $tooltip-top-x $tooltip-top-y $tooltip-top-width $tooltip-top-height;
$trash-x: -400px;
$trash-y: -1400px;
$trash-width: 200px;
$trash-height: 200px;
$trash: $trash-x $trash-y $trash-width $trash-height;
$typography-blockquote-not-in-set-x: -600px;
$typography-blockquote-not-in-set-y: -1400px;
$typography-blockquote-not-in-set-width: 200px;
$typography-blockquote-not-in-set-height: 200px;
$typography-blockquote-not-in-set: $typography-blockquote-not-in-set-x $typography-blockquote-not-in-set-y $typography-blockquote-not-in-set-width $typography-blockquote-not-in-set-height;
$typography-bold-x: -800px;
$typography-bold-y: -1400px;
$typography-bold-width: 200px;
$typography-bold-height: 200px;
$typography-bold: $typography-bold-x $typography-bold-y $typography-bold-width $typography-bold-height;
$typography-capitalize-x: -1000px;
$typography-capitalize-y: -1400px;
$typography-capitalize-width: 200px;
$typography-capitalize-height: 200px;
$typography-capitalize: $typography-capitalize-x $typography-capitalize-y $typography-capitalize-width $typography-capitalize-height;
$typography-custom-font-x: -1200px;
$typography-custom-font-y: -1400px;
$typography-custom-font-width: 200px;
$typography-custom-font-height: 200px;
$typography-custom-font: $typography-custom-font-x $typography-custom-font-y $typography-custom-font-width $typography-custom-font-height;
$typography-font-size-x: -1400px;
$typography-font-size-y: -1400px;
$typography-font-size-width: 200px;
$typography-font-size-height: 200px;
$typography-font-size: $typography-font-size-x $typography-font-size-y $typography-font-size-width $typography-font-size-height;
$typography-header-x: -1600px;
$typography-header-y: 0;
$typography-header-width: 200px;
$typography-header-height: 200px;
$typography-header: $typography-header-x $typography-header-y $typography-header-width $typography-header-height;
$typography-italic-x: -1600px;
$typography-italic-y: -200px;
$typography-italic-width: 200px;
$typography-italic-height: 200px;
$typography-italic: $typography-italic-x $typography-italic-y $typography-italic-width $typography-italic-height;
$typography-letter-spacing-x: -1600px;
$typography-letter-spacing-y: -400px;
$typography-letter-spacing-width: 200px;
$typography-letter-spacing-height: 200px;
$typography-letter-spacing: $typography-letter-spacing-x $typography-letter-spacing-y $typography-letter-spacing-width $typography-letter-spacing-height;
$typography-line-height-x: -1600px;
$typography-line-height-y: -600px;
$typography-line-height-width: 200px;
$typography-line-height-height: 200px;
$typography-line-height: $typography-line-height-x $typography-line-height-y $typography-line-height-width $typography-line-height-height;
$typography-lowercase-x: -1600px;
$typography-lowercase-y: -800px;
$typography-lowercase-width: 200px;
$typography-lowercase-height: 200px;
$typography-lowercase: $typography-lowercase-x $typography-lowercase-y $typography-lowercase-width $typography-lowercase-height;
$typography-small-caps-x: -1600px;
$typography-small-caps-y: -1000px;
$typography-small-caps-width: 200px;
$typography-small-caps-height: 200px;
$typography-small-caps: $typography-small-caps-x $typography-small-caps-y $typography-small-caps-width $typography-small-caps-height;
$typography-strike-x: -1600px;
$typography-strike-y: -1200px;
$typography-strike-width: 200px;
$typography-strike-height: 200px;
$typography-strike: $typography-strike-x $typography-strike-y $typography-strike-width $typography-strike-height;
$typography-underline-x: -1600px;
$typography-underline-y: -1400px;
$typography-underline-width: 200px;
$typography-underline-height: 200px;
$typography-underline: $typography-underline-x $typography-underline-y $typography-underline-width $typography-underline-height;
$typography-uppercase-x: 0;
$typography-uppercase-y: -1600px;
$typography-uppercase-width: 200px;
$typography-uppercase-height: 200px;
$typography-uppercase: $typography-uppercase-x $typography-uppercase-y $typography-uppercase-width $typography-uppercase-height;
$usability-testing-x: -200px;
$usability-testing-y: -1600px;
$usability-testing-width: 200px;
$usability-testing-height: 200px;
$usability-testing: $usability-testing-x $usability-testing-y $usability-testing-width $usability-testing-height;
$user-add-x: -400px;
$user-add-y: -1600px;
$user-add-width: 200px;
$user-add-height: 200px;
$user-add: $user-add-x $user-add-y $user-add-width $user-add-height;
$user-simple-x: -600px;
$user-simple-y: -1600px;
$user-simple-width: 200px;
$user-simple-height: 200px;
$user-simple: $user-simple-x $user-simple-y $user-simple-width $user-simple-height;
$visibility-hidden-outline-x: -800px;
$visibility-hidden-outline-y: -1600px;
$visibility-hidden-outline-width: 200px;
$visibility-hidden-outline-height: 200px;
$visibility-hidden-outline: $visibility-hidden-outline-x $visibility-hidden-outline-y $visibility-hidden-outline-width $visibility-hidden-outline-height;
$visibility-visible-outline-x: -1000px;
$visibility-visible-outline-y: -1600px;
$visibility-visible-outline-width: 200px;
$visibility-visible-outline-height: 200px;
$visibility-visible-outline: $visibility-visible-outline-x $visibility-visible-outline-y $visibility-visible-outline-width $visibility-visible-outline-height;
$visibility-visible-solid-x: -1200px;
$visibility-visible-solid-y: -1600px;
$visibility-visible-solid-width: 200px;
$visibility-visible-solid-height: 200px;
$visibility-visible-solid: $visibility-visible-solid-x $visibility-visible-solid-y $visibility-visible-solid-width $visibility-visible-solid-height;

@mixin sprite-image {
  background-image: url("./IconsSprite.png");
}
@mixin sprite-position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@mixin sprite($sprite) {
  @include sprite-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
